* {
    border: none;
    border-radius: 0;
    font-family: Source Code Pro;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    /*background: #282828;*/
    background: #1d2021;
    /*background: transparent;*/
    color: #ebdbd2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    background: #32302f;
    color: #ebdbd2;
    border-right: 1px solid #1d2021;
}

#window {
    padding: 0 20px;
    background: transparent;
    font-size: 12px; 
}

#workspaces button.urgent {
    color: #cc241d;
}
#workspaces button.focused {
    /*color: #ff8700;*/
    color: #b8bb26;
    border-bottom: 1px solid #b8bb26;
    /*color: #58d1eb;*/
}

#mode {
    background: #282828;
}

#clock.1, #clock.2, #battery, #cpu, #memory, #backlight, #network, #pulseaudio, #custom-mpd, #custom-playerctl, #tray, #mode, #idle_inhibitor, #custom-arch, #custom-media {
    padding: 0 10px;
    margin: 0 0px;
    background: #32302f;
    border-left: 1px solid #1d2021;
}

#clock.2 {
    background: #ebdbb2;
    color: #1d2021;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#network.disconnected {
    color: red;
}

#pulseaudio.muted {
    color: #2a5c45;
}

#custom-media { 
    color: #b8bb26;
}

#tray {
    background-color: #98971a;
}

#idle_inhibitor {
    background-color: #98971a;
    padding: 0px 10px;
}

#custom-arch {
    color: #458588;
    background: #1d2021;
    font-size: 18px;
    padding: 0px 10px;
}

